{% extends 'base.html' %}

{% block head %} 
<title>MLearnPy App | Home</title>
{% endblock %}

{% block body %} 
<br>
<h1>Home</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the MLearn Workspace. Here we will be talking about everything machine learning and data science. 
          Basics, frameworks, new technologies, findings and pretty much more.
        </p>
        <p>Go visit us at our website <a href="https://kustomlynx.net">Kustomlynx.net</a> to check out more.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
        </p>
      </div>
    </div>
</main>
{% endblock %}